<script>
    import apexchart from 'vue-apexcharts'

    export default {
        name: "defaultApexcharts",
        components: { apexchart },
        data() {
            return {
                type: 'line',
                printChartTypeTitle: true,
                chartType: 'pie'
            }
        },
        mounted() {
            this.$store.dispatch('fetchCharts', this.chartType);
        },
        computed: {
            charts() {
                return this.$store.getters.getCharts[this.chartType];
            },
            chartTypes() {
                return this.$store.getters.getChartTypes;
            }
        },
        methods: {
            chartOptions(chart) {
                return chart.data.chartOptions;
            },
            getSeries(chart) {
                return chart.data.series;
            },
            checkCharts() {
                if(Object.keys(this.charts).length) {
                    return true;
                }

                return false;
            },
            getChartType(chart) {
                if(chart.type !== this.type) {
                    this.type = chart.type;
                    this.printChartTypeTitle = true;
                } else {
                    this.printChartTypeTitle = false;
                }

                return chart.type;
            },
            showCharts(type) {
                this.chartType = type;
                this.$store.dispatch('fetchCharts', type);
            }
        },
    }
</script>

<template>
    <div id="chart">
        <div>
            <div class="btns-block">
                <button class="btn-success" @click="showCharts('allCharts')" v-if="true === false">Все диаграммы</button>
                <button class="btn-primary" v-for="(item, idx) in chartTypes" :id="idx" @click="showCharts(item.type)" :class="{ 'btn-active': item.type === chartType }">{{item.title}}</button>
            </div>
            <div class="charts-block" v-if="checkCharts()">
                <apexchart v-for="(chart, idx) in charts" :id="idx" :type="getChartType(chart)" height="350" :options="chartOptions(chart)" :series="getSeries(chart)" class="item" delay="1.5"></apexchart>
            </div>
        </div>
    </div>
</template>

<style>
    .btns-block {
        display: flex;
        flex-wrap: wrap;
    }

    .btn-primary,
    .btn-success {
        margin-bottom: 0.5rem;
        margin-right: 0.5rem;
        display: block;
        width: auto;
        cursor: pointer;
        color: #fff;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-success {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
    }

    .btn-success:hover {
        color: #fff;
        background-color: #218838;
        border-color: #1e7e34;
    }

    .btn-primary:hover {
        color: #fff;
        background-color: #0069d9;
        border-color: #0062cc;
    }

    .btn-active {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
    }

    .btn-active:hover {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
    }

    .charts-block {
        display: flex;
        flex-wrap: wrap;
        margin-top: 100px;
        margin-right: 100px;
    }

    .charts-block h1 {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .charts-block .item {
        max-width: 30%;
        width: 100%;
        margin-bottom: 30px;
        margin-right: 50px;
    }

    @media screen and (max-width: 1440px) {
        .charts-block .item {
            max-width: 47%;
        }
    }
</style>