<script>
  import defaultApexcharts from "./components/defaultApexcharts.vue";

  export default {
    name: 'App',
    components: {
      defaultApexcharts
    },
  }
</script>

<template>
  <div id="app">
    <defaultApexcharts></defaultApexcharts>
  </div>
</template>

<style>
  .diagram-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .stat-group {
    width: 240px;
    min-height: 120px;
    margin-left: 50px;
    border-left: 2px solid black;
  }
  .stat-group:first-child {
    margin-left: 0;
    border-left: none;
  }
</style>